@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 6100px;
    width: auto;
}

.font-lato{
    font-family: 'Lato', sans-serif;

}
.font-play{
    font-family: 'Playfair Display',serif;
}
